<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css.css">
</head>
<body>
    <h1>LAYOUTs</h1>
    <h1>Box Elemnt</h1>
    <p class="box">we have four areas of box model first our content like this text, 2nd padding
        3rd border and last margin that would be described in css
    </p>
    <p class="box">same margin of two tags collaps each other means if bottom margin
        of upper para and top margin of next para then collapse both margin.
        but padding not collapse.
    </p>

    <h1>Sizing Element</h1>
    <span class="size"></span>
    <span class="size"></span>

    <h1>Overflow</h1>
    <p class="over">if we have maximum size of text and size of paragraph
        is small the text Overflow so in this case we use overflow:auto bcz
        of this we would have scroll under border of box.
    </p>

    <h1>Measurement Units</h1>
    <p class="Munit">we have two types here first one absolute (px,in,cm,mm)
        and reltive(%,vw,vh(viewport height),em,rem) relative is benificial
        when we resize window siz and automaticlly recizing content.
    </p>

    <h1>Positioning</h1>
    <div class="position">
        <div class="box-1">in fixed content related to viewport of screen</div>
        <div class="box-2">relative positioning not effect other content
            of page
        </div>
        <div class="box-3">in absolute the content relative to its parent</div>
    </div>

    <h1>Floating element</h1>
    <div class="tweet">
        <div class="avater"></div>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <h1>FlexBox</h1>
    <div class="container">
        <div class="f-box">by use display flex all layouts in one direction shown</div>
        <div class="f-box">B</div>
        <div class="f-box">C</div>
    </div>

    <h1>Grid</h1>
    <div class="container_grid">
        <div class="box_grid  g_one">One</div>
        <div class="box_grid">Two</div>
        <div class="box_grid">Three</div>
        <div class="box_grid">Four</div>
    </div>

    <h1>Hiding Element</h1>
    <p class="first">First</p>
    <p class="second">If we style <strong>display:none</strong>  then content not displayed not not consume any space
        and in the case of <strong>visibility:hidden</strong>  content hidden thier visibility but it aquire its space. 
    </p>

    <h1>Media Queries</h1>
    <div class="media">
        <div class="m_box">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium alias ratione enim repudiandae, quod molestiae optio, nam
                saepe illo quasi ducimus aspernatur expedita laudantium veniam distinctio voluptatem. Exercitationem, perferendis? </p>
        </div>
        <div class="m_box">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium alias ratione enim repudiandae, quod molestiae optio, nam
                saepe illo quasi ducimus aspernatur expedita laudantium veniam distinctio voluptatem. Exercitationem, perferendis? </p>
        </div>
    </div>
</body>
</html>