body{
    padding: 10px;
}
.heading{
    text-align: center;
    font-size: 50px;
    color: darkgoldenrod;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
i{
    color: blue;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover; 
}
video{
    width: 400px;
}
ul{
    list-style-type: square;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    
    padding: 5px;
}
.divv{
    background-color: aqua;
}
/* relational selector */
.relation > p{
    color: saddlebrown;
}
/* .relation ~ p{
    color: seagreen;
} */
.relation + p{
    color: skyblue;
}

/* this is example of psuedo class selector */
ul li:nth-child(even){    
    color: brown;
}
div :first-child{
    color: rgb(202, 19, 19);
}
div :last-child{
    background-color: gold;
}
div :first-of-type{
    font-style: italic;
}
.linkclass:visited,
.linkclasss:link{
    color: dodgerblue;
}
.linkclass:hover,
.linkclass:focus{
    color: deeppink;
}

/* psuedo element selector examples */
.psuedoelement::first-letter{
    font-size: 140%;
    font-weight: bold;
}
.psuedoelement::before{
    content: ".....";
    display: block;
}

/* slector specificity */
h2{
    color: black !important;
}
.highlight{
    color: chartreuse;
}
#specificity{
    color: blue;
}
.highlight#specificity{
    color: springgreen;
}

/* Inheritance */
.inheritance{
    color: indigo;
}
/* strong{
    color: initial;
} */

/* colors */
.color{
    width: 200px;
    height: 200px;
    background-color: rgba(40, 86, 161,0.3);
}

/*Gradients*/
.gradients{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, yellow, blue,aqua);
    background: radial-gradient(yellow, blue,aqua);

}

/*border*/
.border{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: solid 10px red;
    border-width: 10px 20px;
    border-radius: 10%;
}

/*Shadow*/
.shadow{
    width: 200px;
    height: 200px;
    background-color: brown;
    box-shadow: 0 0 50px yellow;
}